/* cart item */
.cart-item {
    min-height: 10rem;
}
.cart-item .col {
    margin: 0;
    padding: 0;
}

/* cart item : picture
------------------------------*/
.cart-item_picture {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.cart-item_picture img {
    width: 100%;
    height: auto;
}

.cart-item_img {
    border: 1px solid #EEEEEF;
}

/* cart item : content
------------------------------*/
.cart-item_content {
    flex: 1;
}

.btn-cart-item_remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border: none;
}
.btn-cart-item_remove:hover img {
    transform: scale(1.1);
}
.btn-cart-item_remove img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.chevron-droit {
    width: 2rem;
}

.cart-linebreak {
    border-radius: 5rem;
    height: 0.3rem;
}

.txt-remise {
    font-size: 1rem;
}

.box-right {
    width: 100%;
}


@media (min-width: 1200px) {
    .cart-item_picture {
        margin-left: 5rem;
    }

    .btn-cart-item_remove {
        position: absolute;
        top: 50%;
        left: -2.5rem;
        transform: translate(-50%, -50%);
    }

    .box-right {
        width: 75%;
    }
}