/* Font custom
-------------------------- */
.DINCondensedDemiBold {
	font-family: "DINCondensed-DemiBold";
}

/* Font-size custom
-------------------------- */
.txt-fz {
    font-size: 0.8rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .txt-fz {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

/* Colors custom
-------------------------- */
.c-black {
    color: #1d1d1c;
}
.c-red {
    color: #dd1a1e;
}
.c-red-dark {
    color: #eb1d25;
}
.c-gold {
    color: #E1BE63;
}
.c-gold-light {
    color: #f8edcc;
}
.c-green {
    color: #72c8a9;
}
.c-green-dark {
    color: #12716d;
}
.c-grey-dark {
    color: #EEEEEF;
}
.c-grey {
    color: #FAFAFA;
}
.c-white-light {
    color: #FFFDFD;
}
.c-white {
    color: #ffffff;
}
.bg-black {
    background-color: #1d1d1c;
}
.bg-red {
    background-color: #dd1a1e;
}
.bg-red-dark {
    background-color: #eb1d25;
}
.bg-gold {
    background-color: #E1BE63;
}
.bg-gold-light {
    background-color: #f8edcc;
}
.bg-green {
    background-color: #72c8a9;
}
.bg-green-dark {
    background-color: #12716d;
}
.bg-grey-dark {
    background-color: #EEEEEF;
}
.bg-grey {
    background-color: #FAFAFA;
}
.bg-white-light {
    background-color: #FFFDFD;
}
.bg-white {
    background-color: #ffffff;
}

/* Components custom
-------------------------- */
input {
    background-color: #ffffff;
}

.btn-circle-custom {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
}