.footer-container {
    width: 75%;
}
@media screen and (min-width: 1200px) {
    .footer-container {
        width: 50%;
    }
}

.footer-link-tel {
    transition: color 0.1s ease-in;
}
.footer-link-tel:hover {
    color: #1d1d1c;
}

.footer-social-link {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-list {
    width: 75%;
}

.footer-social-link img{
    width: 100%;
}

.lineBreak-vertical {
    position: relative;
    height: 10px;
    width: 100%;
}

.lineBreak-vertical .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 80%, #ffffff 50%);
    background-size: 10px 100%;
}

.footer-map-list {
    flex: 1;
}

footer .footer-map-list li h3 {
    letter-spacing: 0.1rem;
}

footer .footer-map-list li a:hover {
    color: #1d1d1c;
}

footer section p a:hover,
footer section .footer-link-bot a:hover {
    color: black;
}