/* Footer 
--------------------------*/
footer a {
    transition: color 0.1s ease-in;
}

footer a:hover {
    color: #1d1d1c;
}

/* footer : social networks */
.footer-social-list li {
    width: 3rem;
    height: 3rem;
}

.footer-social-list li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-list li a img{
    width: 60%;
    height: auto;
}

/* footer : linebreak */
.footer-linebreak {
    position: relative;
    height: 10px;
    width: 100%;
}

.footer-linebreak .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 80%, #ffffff 50%);
    background-size: 10px 100%;
}

/* footer : map list */
.footer-map-list {
    width: 100%;
    flex-wrap: wrap;
}
.copyright {
    font-size: 1rem !important;
    padding-top: 1rem;
}
/* footer : MQ */
@media (min-width: 992px) {
    .footer-linebreak {
        position: relative;
        height: 10px;
        width: 75%;
    }

    .footer-map-list {
        width: 75%;
        padding-bottom: 4rem !important;
    }
}

