/* section hero
-------------------------- */
#hero {
    height: calc(100vh - 4rem);
}


@media (min-width: 992px) {
    #hero {
        height: calc(100vh - 6rem);
    }
}

@media (min-width: 1200px) {
    #hero {
        height: calc(100vh - 8rem);
    }
}

/* section hero : Slider  */
#hero .hero-slider-item {
    display: none;
}
#hero .hero-slider-item.active {
    display: flex;
}

.hero-slider-start {
    width: 100%;
    height: 40%;
    opacity: 0;
}
.hero-slider-end {
    width: 100%;
    height: 40%;
}

.hero-slider-title-desktop {
    transform: translateX(-100px);
    opacity: 0;
}

.hero-slider-title-top {
    transform: translateX(-100px);
    opacity: 0;
}

.hero-slider-content {
    flex: 1;
}

.hero-slider-content-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0%);
    width: 9rem;
    height: 9rem;
    opacity: 0;
}

.hero-slider-content-txt {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 9rem;
    opacity: 0;
}
.hero-slider-content-txt p {
    width: 100%;
    height: auto;
}

.hero-slider-nav {
    position: absolute;
    bottom: 10%;
}

.hero-slider-btns {
    width: 100%;
}

.hero-slider-btns .hero-slider-btn {
    width: 3rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    background-color: #A3B7BC;
    border: none;
    opacity: 0.5;
}

.hero-slider-btns .hero-slider-btn.active {
    opacity: 1;
}

/* section hero : MQ  */
@media (min-width: 992px) {
    .hero-slider-start {
        width: 65%;
        height: 100%;
    }
    .hero-slider-end {
        width: 35%;
        height: 100%;
    }

    .hero-slider-content-box {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0%);
        width: 15rem;
        height: 15rem;
        opacity: 0;
    }
    .hero-slider-content-txt {
        height: 15rem;
        padding-left: 7rem;
        padding-right: 0;
    }

    .hero-slider-btns {
        width: 35%;
    }
}

@media screen and (min-width: 1200px) {
    .hero-slider-content-box {
        transform: translateX(0%);
        width: 15rem;
        height: 15rem;
        opacity: 0;
    }
    .hero-slider-content-txt {
        height: 15rem;
        padding-left: 7.5rem;
    }

    .hero-slider-btns {
        width: 35%;
    }
}

@media screen and (min-width: 1400px) {
    .hero-slider-content-box {
        width: 25rem;
        height: 25rem;
    }
    .hero-slider-content-txt {
        height: 25rem;
        padding-left: 13rem;
    }

}

/* section best sales
-------------------------- */
.splide-best-item:hover {
    color: black;
}
.item-image {
    width: 100%;
    height: 75%;
}

.item-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-price.reduced {
    text-decoration:line-through
}

.item-price-solde {
    display: none;
}

.item-price-solde.reduced {
    display: inline;
}

/* section unmissable
-------------------------- */
.unmissable-box-title {
    border-top-right-radius: 3rem 3rem;
}


/* section unmissable : GRID */
.wrapper-grid .col {
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-grid .col a img{
    object-fit: cover;
}

.wrapper-grid .col a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    transition: opacity 0.3s ease-in;
}
.wrapper-grid .col a:hover {
    color: black;
    opacity: 0.8;
}

/* section unmissable : GRID : MQ*/
@media (min-width: 992px)  {
    .wrapper-grid .col {
        height: calc(100vw / 2);
    }
}

@media screen and (min-width: 1200px) {
    .wrapper-grid .col {
        height: calc(100vw / 3);
    }
    .wrapper-grid .col.span-2 {
        height: calc((100vw / 3)*2);
    }
    .wrapper-grid .row.span-2 {
        height: calc((100vw / 3)*2);
    }  
}


/* section jewerly designer
-------------------------- */
.jewerly-designer-picture {
    width: 100%;
    height: 100%;
    transform: rotate(0);
    overflow: hidden;
}
.jewerly-designer-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.jewerly-designer-content {
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
    .jewerly-designer-picture {
        width: 70%;
        height: 80%;
        transform: rotate(345deg);
    }
    .jewerly-designer-content {
        width: 70%;
    }
}
@media screen and (min-width: 1400px) {
    .jewerly-designer-picture {
        width: 60%;
        transform: rotate(345deg);
    }
}

/* section home actu
-------------------------- */
#home-actus .see-more-line {
    width: 100%;
    height: 1rem;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
#home-actus .hover-see-more-line {
    width: 100%;
    height: 100%;
    transition: width 0.2s ease-in;
}
#home-actus a:hover .see-more-line .hover-see-more-line{
    width: 100%;
}

#home-actus .home-propos {
    border-radius: 3rem;
    min-height: 50vh;
}

@media screen and (min-width: 1200px) {
    #home-actus .hover-see-more-line {
        width: 0;
        height: 100%;
        transition: width 0.3s ease-in;
    }
}

/* section instagram
-------------------------- */
#instagramm .col {
    height: calc(100vw / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section unmissable : GRID : MQ*/
@media screen and (min-width: 1200px) {
    #instagramm .col {
        height: calc(100vw / 6 - 0.5rem);
    }
}