/* Shop
-------------------------- */
.breadcrumb {
    justify-content: center;
}

.breadcrumb a:hover {
    opacity: 0.8;
}
.breadcrumb a {
    color: #1d1d1c;
    opacity: 1;
}

/* shop : description */
.shop-description {
    border-radius: 3rem;
    width: 100%;
}

/* shop : filter bar */
.product-filters {
    position: fixed;
    top: 4rem;
    left: 0;
    height: 2rem;
}

.product-filter-item {
    width: calc(100vw / 8);
}

/* shop : product list */
.product-inner {
    --bs-gutter-x: 5rem; 
}

.product-item {
    cursor: pointer;
}

.product_hover {
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: calc(100% - 5rem);
    height: 100%;
    opacity: 0;

    background: rgba( 251, 248, 248, 0.55 );
    box-shadow: 0 2px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );

    transition: opacity 0.5s ease-in-out;
}

.product-item:hover .product_hover {
    opacity: 1;
}

.product-icon-hover {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-gif {
    border-radius: 50%;
}

.product-price_outline.active {
    text-decoration:line-through;
    padding-right: 1rem;
}

/* shop : MQ */
@media (min-width: 1200px) {
    .shop-description {
        width: 70%;
    }

    .product-filters {
        position: initial;
        height: 4rem;
    }

    .product-icon-hover {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
    }
}

