/* Shop
-------------------------- */
.breadcrumb {
    justify-content: center;
}

.breadcrumb a:hover {
    opacity: 0.8;
}
.breadcrumb a {
    color: #1d1d1c;
    opacity: 1;
}

/* shop : description */
.shop-description {
    border-radius: 3rem;
    width: 100%;
}

/* shop : filter bar */
.product-filters {
    position: fixed;
    top: 4rem;
    left: 0;
    height: 2rem;
}

.product-filter-item {
    width: calc(100vw / 8);
}

/* shop : product list */
#shop .col {
    min-height: 25rem;
}

/* shop : MQ */
@media (min-width: 1200px) {
    .shop-description {
        width: 70%;
    }

    .product-filters {
        position: initial;
        height: 2rem;
    }
}