html {
    font-size: 16px;
}

/* Body 
-------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* Header 
-------------------------- */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 0;
    padding-bottom: 0;
}

/* Navbar : btn burger */
.btn-burger {
    width: 25px;
    height: 40px;
    border: none;
    position: relative;
    padding: 0;
    background-color: transparent;
}

.btn-burger .line {
    width: 100%;
    height: 3px;
    background-color: black;
}

.btn-burger .line::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}
.btn-burger .line::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 75%;
    height: 3px;
    background-color: black;
}

/* Navbar : links */
.navbar .nav-links {
    list-style: none;
    margin: 0;
    height: 100%;
}

.nav-item {
    display: block;
    padding: 0 1rem 0 0;
    height: 100%;
}

.nav-item a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
}

.nav-item a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 50rem;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.nav-item a:hover::after {
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.nav-item a:hover {
    color: black;
}

/* Navbar : right */
.btn-nav {
    border: none;
    text-transform: uppercase;
    padding: .25rem .75rem 0 .75rem;
    font-weight: 300;
    box-shadow: 0px 8px 50px 1px rgba(0,0,0,0.42);
}
.btn-nav:hover {
    background-color: #dd1a1e;
}

.link-signup {
    position: relative;
    text-decoration: none;
}
.link-signup::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 50rem;
    background-color: black;
    transition: width 0.5s ease-in-out;
}
.link-signup:hover::after {
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.link-signup:hover {
    color: black;
}

.nav-link-icon {
    width: 2rem;
    height: 2rem;
}
.icon-search {
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
}

.icon-caddie {
    position: absolute;
    top: -2px;
    left: 0;
    width: 40px;
}

.dropdown-lang {
    position: absolute;
    top: -25px;
    left: 193px;
}
.dropdown-lang a {
    font-size: 1rem;
    border-bottom: 2px solid gray;
    text-decoration: none;

}

/* Header => END
-------------------------- */